*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #000000;
}

.app {
  position: relative;
  display: flex;
  justify-content: center;
}
.main-section {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 100%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#game {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("/assets/location.jpg") left / cover no-repeat;
}

.hero {
  position: absolute;
  bottom: 180px;
  width: 400px;
  z-index: 3;
}

.hero-inventory {
  position: absolute;
  bottom: 14vh;
  right: 5vh;
  width: 40vh;

  z-index: 3;
}
#enemy {
  position: absolute;
  bottom: 150px;
  right: 0;
  width: 500px;
  height: auto;
  z-index: 2;
}

#shop {
  position: absolute;
  bottom: 300px;
  right: 0;
  width: 600px;
  height: auto;
  z-index: 1;
}

#shop-inside {
  position: fixed; /* Изменено на fixed, чтобы инвентарь был вне потока и не размывался */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("/assets/inside-shop.svg") center / cover no-repeat;
  height: 90vh;
  width: 90vh;
  z-index: 1000;
}

.items {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000cf;
  width: 80%;
  height: 20%;
}

.hp-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hp {
  width: 100%;
  height: 100%;
  background: url(/assets/hp.svg) no-repeat center center;
  background-size: contain;
  cursor: pointer;
}

.h2-shop {
  color: #fff;
}

#chestGif {
  position: absolute;
  bottom: 260px;
  width: 240px;

  z-index: 1;
}

.hidden {
  display: none;
}

#tooltip,
#tooltip2,
#tooltip3,
#tooltip4,
#tooltip5 {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 40px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}

#blur-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 1s;
}

.blur-background {
  filter: blur(12px); /* Применение размытия ко всему контейнеру */
}

#inventory {
  position: fixed; /* Изменено на fixed, чтобы инвентарь был вне потока и не размывался */
  top: 50%;
  left: 50%;
  width: 53vh;
  height: 84vh;
  background: url("/assets/inventory.jpg") center / cover no-repeat;
  z-index: 1001; /* Задано значение выше, чем у размытого фона */
  background-color: rgba(255, 255, 255, 0.2);
  transform: translate(-50%, -50%);
  display: none; /* Скрыт по умолчанию */
}

.hero-name {
  position: absolute;
  font-size: 6vh;
  padding-top: 2vh;
  padding-left: 20vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(33, 92, 152);
}

.stats {
  position: relative;
  margin-top: 34vh;
  padding-left: 2vh;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(35, 35, 35);
}

h2 {
  font-size: 2vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.eqipment {
  padding-top: 5vh;
  padding-left: 44vh;
}

.inventory-items {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00000090;
  width: 100%;
  height: 20%;
}

.inv-items {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

#inv-item {
  color: #fff;
}

.menu {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  width: 60vh;
  height: 40vh;
  background-color: rgba(43, 40, 40, 0.9);
  z-index: 5001;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: none; /* Скрыт по умолчанию */
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.menu__item {
  margin: 5vh 0;
}

.menu__item a {
  display: inline-block;
  width: 100%;
  padding: 1vh;
  font-size: 3vh;
  color: #fff;
  text-decoration: none;
  background-color: #3a3a3a;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu__item a:hover {
  background-color: #575757;
}

.sideHelp {
  display: block;
  position: absolute;
  display: flex;
  top: 10vh;
  right: 10vh;
  z-index: 1;
}

.sideInfo {
  font-size: 2vh;
  color: rgb(255, 255, 255);
}

#fight-mode {
  position: fixed; /* Изменено на fixed, чтобы инвентарь был вне потока и не размывался */
  width: 100vh;
  height: 100vh;
  background: url("/assets/arena1.svg") left / cover no-repeat;
  z-index: 2005;
  display: none; /* Скрыт по умолчанию */
}

.arena1 {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

#hero-tactic,
#hero-right-punch-tactic {
  position: absolute;
  bottom: 30vh;
  width: 40vh;
  left: 10vh;
  height: auto;
  z-index: 4;
}

#enemy-tactic,
#enemy-attack {
  position: absolute;
  bottom: 26vh;
  right: 0vh;
  width: 50vh;
  height: auto;
  z-index: 2;
}

.fight-inform {
  position: relative;
  display: flex;
  flex-direction: column;
}

#hero-hp-tactic {
  position: absolute;
  display: flex;
  flex-direction: row;

  bottom: 16vh;
  left: 17vh;
  background-color: antiquewhite;
  z-index: 2;
}

.fight-log {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 26vh;
  left: -300px;
  background-color: rgba(0, 0, 0, 0.617);
  z-index: 2;
}

#attackBtn {
  position: absolute;
  bottom: 20vh;
  left: 17vh;
}

p {
  color: aliceblue;
  font-size: 20px;
}
